@page
{{~ if !Option.SkipPermissions ~}}
@using {{ ProjectInfo.FullName }}.Permissions
{{~ end ~}}
{{~ if Bag.PagesFolder; pagesNamespace = Bag.PagesFolder + "."; end ~}}
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using {{ ProjectInfo.FullName }}.Web.Pages.{{ pagesNamespace }}{{ EntityInfo.RelativeNamespace }}
@using {{ ProjectInfo.FullName }}.Localization
@using {{ ProjectInfo.FullName }}.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<{{ ProjectInfo.Name }}Resource> L
{{~ if !Option.SkipPermissions ~}}
@inject IAuthorizationService Authorization
{{~ end ~}}
{{~ if Bag.PagesFolder; pagesFolder = Bag.PagesFolder + "/"; end ~}}
@{
    PageLayout.Content.Title = L["{{ EntityInfo.Name }}"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:{{ EntityInfo.Name }}"].Value);
    PageLayout.Content.MenuItemName = {{ ProjectInfo.Name }}Menus.{{ EntityInfo.Name }};
}

@section scripts
{
    <abp-script src="/Pages/{{ pagesFolder }}{{ EntityInfo.RelativeDirectory }}/index.js" />
}
@section styles
{
    <abp-style src="/Pages/{{ pagesFolder }}{{ EntityInfo.RelativeDirectory }}/index.css"/>
}
@section content_toolbar 
{
  {{~ if !Option.SkipPermissions ~}}
			    @if (await Authorization.IsGrantedAsync({{ ProjectInfo.Name }}Permissions.{{ EntityInfo.Name }}.Create))
                {
{{~ end ~}}
                <abp-button id="New{{ EntityInfo.Name }}Button"
                            text="@L["Create{{ EntityInfo.Name }}"].Value"
                            icon="plus"
                            button-type="Primary" />
{{~ if !Option.SkipPermissions ~}}
                }
 {{~ end ~}}
}

<abp-card>
    <abp-card-body>
      <abp-row class="mb-3">
        <abp-column size-md="_12">
          <form id="SearchForm" autocomplete="off">
            <div class="input-group">
              <input class="form-control" id="FilterText" placeholder="@L["Search"]" />
              <div class="input-group-append">
                <abp-button button-type="Primary" type="submit" icon="search" />
              </div>
            </div>
          </form>
        </abp-column>
        <abp-column size-md="_12" class="mt-3">
          <a href="javascript:;" id="AdvancedFilterSectionToggler">@L["SeeAdvancedFilters"]</a>
        </abp-column>
      </abp-row>
      <abp-row id="AdvancedFilterSection" style="display: none;">
      </abp-row>
      <abp-table striped-rows="true" id="{{ EntityInfo.Name }}Table" class="nowrap"></abp-table>
    </abp-card-body>
</abp-card>
